{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
              "chrome": "72",
              "firefox": "65"
          }
        }
      ],
      "@babel/preset-react"
    ]
  }